@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
@layer base {
  /* Dark mode colors. */
  :root {
    --sl-color-accent-low: #00273d;
    --sl-color-accent: #0071a7;
    --sl-color-accent-high: #92d1fe;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #e7eff2;
    --sl-color-gray-2: #bac4c8;
    --sl-color-gray-3: #7b8f96;
    --sl-color-gray-4: #495c62;
    --sl-color-gray-5: #2a3b41;
    --sl-color-gray-6: #182a2f;
    --sl-color-black: #121a1c;
  }
  /* Light mode colors. */
  :root[data-theme="light"] {
    --sl-color-accent-low: #a7e1f9;
    --sl-color-accent: #007797;
    --sl-color-accent-high: #003849;
    --sl-color-white: #151a13;
    --sl-color-gray-1: #1f2a1c;
    --sl-color-gray-2: #303c2d;
    --sl-color-gray-3: #4f5c4d;
    --sl-color-gray-4: #82907f;
    --sl-color-gray-5: #bdc4bb;
    --sl-color-gray-6: #eaf0e8;
    --sl-color-gray-7: #f4f7f3;
    --sl-color-black: #ffffff;
  }

  @media (min-width: 1550px) {
    :root {
      --sl-content-width: 80rem;
    }
  }
}
