---
import '../styles/index.css'
import Home from "../components/pages/home"
import Layout from '@/layouts/index.astro';

---

<div>
  <Layout title="首頁 - Jiangshu Lu">
    <Home client:load/>
  </Layout>
</div>