---
import '../styles/index.css'
import TestComponent from "../components/test"
import Layout from '@/layouts/index.astro';
---

<div>
  <Layout title="首頁 - Jiangshu Lu">
    <TestComponent />
  </Layout>
</div>
