---
import '../styles/index.css'
import Resume from "../components/pages/resume"
import Layout from '@/layouts/index.astro';

---

<div>
  <Layout title="簡歷 - Jiangshu Lu">
    <Resume client:load/>
  </Layout>
</div>