---
import Header from "@/components/header";
import { SheetProvider } from '@/providers/sheet-provider'
const { title } = Astro.props;
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <Header client:load />
    </nav>
    <main>
      <SheetProvider client:load />
      <slot />
    </main>
    <footer>
      <!-- 页脚内容 -->
    </footer>
  </body>
</html>